<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="GameService.Url" value="https://7annld7mde.execute-api.ap-southeast-2.amazonaws.com/main" />
  </appSettings>
  
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>